@model  WFTileCounter.ModelsView.ImgMetaData



<style>

    .leftBoxAlerts
    {
        font-weight: bold;
        font-variant: small-caps;
    }
</style>

<div class="container">

    @if (Model.First)
    {
        <div class="row mb-3 bg-info rounded">


            <div class="col-sm-2 font-weight-bold border-bottom border-light mb-2 align-items-center">
                @Html.DisplayNameFor(a => a.MapIdentifier)
            </div>
            <div class="col-sm-7 font-italic text-truncate border-bottom border-light mb-2 align-items-center">
                <div class="display-field">
                    @Html.DisplayFor(a => a.MapIdentifier)
                </div>
                <div class="editor-field">
                    @Html.HiddenFor(a => a.MapIdentifier)
                    @Html.ValidationMessageFor(a => a.MapIdentifier)
                </div>
            </div>
            <div class="col-sm-3 border-bottom border-light mb-2">
                <p class="text-center"><span>@Html.CheckBoxFor(a => a.FullRun)</span>  <b>Was this a Complete Run?</b></p>
                <p class="text-center"><span>@Html.CheckBoxFor(a => a.MapPointsRecorded)</span>  <b>Recording Map Points?</b></p>
            </div>
            <div class="editor-field">
                @Html.HiddenFor(a => a.First)
                @Html.ValidationMessageFor(a => a.First)
            </div>
        </div>
    }
    else
    {
        <div class="editor-field">
            @Html.HiddenFor(a => a.MapIdentifier)
            @Html.ValidationMessageFor(a => a.MapIdentifier)
        </div>
    }



    <div class="row mb-2">

        @if (Model.PossibleDupe)
        {
            <div class="col-md-4 border border-danger bg-danger text-dark rounded align-self-end leftBoxAlerts  text-center">
                <span class="align-middle"><b>@Html.DisplayNameFor(x => x.PossibleDupe)</b></span>
                <div class="editor-field">
                    @Html.HiddenFor(a => a.PossibleDupe)
                    @Html.ValidationMessageFor(a => a.PossibleDupe)
                </div>
            </div>
        }
        else
        {
            <div class="col-md-4"> &nbsp;</div>
        }
        <div class="col-md-4 border border-secondary rounded align-self-center text-center">
            <span class="align-middle">@Html.CheckBoxFor(x => x.KeepThis) @Html.DisplayNameFor(x => x.KeepThis)</span>
        </div>
        @if (Model.UnknownValue)
        {
            <div class="col-md-4 border border-warning bg-warning text-dark rounded align-self-end leftBoxAlerts  text-center">
                <span class="align-middle"><b>@Html.DisplayNameFor(x => x.UnknownValue)</b></span>
                <div class="editor-field">
                    @Html.HiddenFor(a => a.UnknownValue)
                    @Html.ValidationMessageFor(a => a.UnknownValue)
                </div>
            </div>
        }
        else
        {
            <div class="col-md-4"> &nbsp; </div>
        }

    </div>
    <div class="row">


        <div class="col-12 align-self-start border border-success rounded bg-dark text-light">
            <div class="row">
                <div class="col-sm-2 font-weight-bold">
                    @Html.DisplayNameFor(a => a.FileName)
                </div>
                <div class="col-sm-4 font-italic">
                    <div class="display-field">
                        @Html.DisplayFor(a => a.FileName)
                    </div>
                    <div class="editor-field">
                        @Html.HiddenFor(a => a.FileName)
                        @Html.ValidationMessageFor(a => a.FileName)
                    </div>
                </div>
                <div class="col-sm-2 font-weight-bold">
                    @Html.DisplayNameFor(a => a.Date)
                </div>
                <div class="col-sm-4 font-italic">
                    <div class="display-field">
                        @Html.DisplayFor(a => a.Date)
                    </div>
                    <div class="editor-field">
                        @Html.HiddenFor(a => a.Date)
                        @Html.ValidationMessageFor(a => a.Date)
                    </div>
                </div>
            </div>

        </div>

        <div class="col-12 align-self-start border border-top-0 border-success rounded bg-dark text-light">


            <div class="row">
                <div class="col-sm-4  border-bottom border-light">
                    <div class="row">
                        <div class="col font-weight-bold">@Html.DisplayNameFor(a => a.MissionType)</div>
                    </div>
                    <div class="row">
                        <div class="display-field">
                            <div class="col font-italic">@Html.DisplayFor(a => a.MissionType)</div>
                        </div>
                        <div class="editor-field">
                            @Html.HiddenFor(a => a.MissionType)
                            @Html.ValidationMessageFor(a => a.MissionType)
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 border-bottom border-light">
                    <div class="row">
                        <div class="col font-weight-bold">@Html.DisplayNameFor(a => a.FactionName)</div>
                    </div>
                    <div class="row ">
                        <div class="display-field">
                            <div class="col font-italic">@Html.DisplayFor(a => a.FactionName)</div>
                        </div>
                        <div class="editor-field">
                            @Html.HiddenFor(a => a.FactionName)
                            @Html.ValidationMessageFor(a => a.FactionName)
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 border-bottom border-light">
                    <div class="row">
                        <div class="col font-weight-bold">@Html.DisplayNameFor(a => a.LogNum)</div>
                    </div>
                    <div class="row">
                        <div class="display-field">
                            <div class="col font-italic">@Html.DisplayFor(a => a.LogNum)</div>
                        </div>
                        <div class="editor-field">
                            @Html.HiddenFor(a => a.LogNum)
                            @Html.ValidationMessageFor(a => a.LogNum)
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-4 ">
                    <div class="row">
                        <div class="col font-weight-bold">@Html.DisplayNameFor(a => a.TileName)</div>
                    </div>
                    <div class="row">
                        <div class="display-field">
                            <div class="col  font-italic text-truncate">@Html.DisplayFor(a => a.TileName)</div>
                        </div>
                        <div class="editor-field">
                            @Html.HiddenFor(a => a.TileName)
                            @Html.ValidationMessageFor(a => a.TileName)
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 ">
                    <div class="row">
                        <div class="col font-weight-bold">@Html.DisplayNameFor(a => a.Tileset) </div>
                    </div>
                    <div class="row">
                        <div class="display-field">

                                <div class="col font-italic text-truncate">@Html.DisplayFor(a => a.Tileset)</div>

                        </div>
                        <div class="editor-field">
                            @Html.HiddenFor(a => a.Tileset)
                            @Html.ValidationMessageFor(a => a.Tileset)
                        </div>
                        
                    </div>
                </div>

                <div class="col-sm-4 ">
                    <div class="row">
                        <div class="col font-weight-bold">@Html.DisplayNameFor(a => a.Coords)</div>
                    </div>
                    <div class="row">
                        <div class="display-field">
                            <div class="col font-italic">@Html.DisplayFor(a => a.Coords)</div>
                        </div>
                        <div class="editor-field">
                            @Html.HiddenFor(a => a.Coords)
                            @Html.ValidationMessageFor(a => a.Coords)
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <br />


    <div class="row">
        <div class="col-3">
            
            <div class="row">
                <div class="col-12">
                    <center><img src="@Url.Content(String.Format("~/img/tilesets/{0}", Model.TileImageInfo.ImagePath))" alt="@Model.TileImageInfo.AltText" CssClass="tooltips" class="rounded img-fluid tooltips" data-toggle="tooltip" data-placement="top" title="Map Image of @Html.DisplayFor(x=>x.TileName)"></center>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <b>Objectives:</b>
                </div>
                <div class="col-4">
                    <center><img src="~/img/markers/mobiledefense.png" style="width:25px" alt="Mobile Defense Objective" CssClass="tooltips" data-toggle="tooltip" data-placement="top" title="Mobile Defense Objective"><br /><span>@Html.RadioButtonFor(a => a.Objective, "MobileDefense")</span></center>
                    
                </div>
                <div class="col-4">
                    <center><img src="~/img/markers/defectionrest.png" style="width:25px" alt="Defection Rest Point" CssClass="tooltips" data-toggle="tooltip" data-placement="top" title="Defection Rest Point"><br /><span>@Html.RadioButtonFor(a => a.Objective, "DefectionRestPoint")</span></center>
                   
                </div>
                <div class="col-4">
                    <center><img src="~/img/markers/kuvasiphon.png" style="width:25px" alt="Kuva Sipon" CssClass="tooltips" data-toggle="tooltip" data-placement="top" title="Kuva Siphon"><br /><span>@Html.RadioButtonFor(a => a.Objective, "KuvaSiphon")</span></center>
                    <div class="editor-field">
                        @Html.HiddenFor(a => a.Objective)
                        @Html.ValidationMessageFor(a => a.Objective)
                    </div>
                </div>
                </div>
            <div class="row">
                <div class="col-12">
                    <b>Spawns Locations:</b>
                </div>
                <div class="col-4">
                    <center><img src="~/img/markers/capturespawn.png" style="width:25px" alt="Capture Spawn" CssClass="tooltips" data-toggle="tooltip" data-placement="top" title="Capture Target Spawn Tile"><br /><span>@Html.CheckBoxFor(a => a.CaptureSpawn)</span></center>
                    <div class="editor-field">
                        @Html.HiddenFor(a => a.CaptureSpawn)
                        @Html.ValidationMessageFor(a => a.CaptureSpawn)
                    </div>
                </div>
                <div class="col-4">
                    <center><img src="~/img/markers/simarisspawn.png" style="width:25px" alt="Simaris Spawn" CssClass="tooltips" data-toggle="tooltip" data-placement="top" title="Simaris Scan Spawn Tile"><br /><span>@Html.CheckBoxFor(a => a.SimarisSpawn)</span></center>
                    <div class="editor-field">
                        @Html.HiddenFor(a => a.SimarisSpawn)
                        @Html.ValidationMessageFor(a => a.SimarisSpawn)
                    </div>
                </div>
                <div class="col-4">
                    <center><img src="~/img/markers/cachemarker.png" style="width:25px" alt="Cache Location" CssClass="tooltips" data-toggle="tooltip" data-placement="top" title="Cache Location"><br /><span>@Html.CheckBoxFor(a => a.Cache)</span></center>
                    <div class="editor-field">
                        @Html.HiddenFor(a => a.Cache)
                        @Html.ValidationMessageFor(a => a.Cache)
                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="col-12">
                        <b>Scannables:</b>
                    </div>
                    <div class="col-4">
                        <center><img src="~/img/markers/cephalon.png" style="width:25px" alt="Cephalon Fragment" CssClass="tooltips" data-toggle="tooltip" data-placement="top" title="Cephalon Fragment"><br /><span>@Html.CheckBoxFor(a => a.Ordis)</span></center>
                        <div class="editor-field">
                            @Html.HiddenFor(a => a.Ordis)
                            @Html.ValidationMessageFor(a => a.Ordis)
                        </div>
                    </div>
                    <div class="col-4">
                        <center><img src="~/img/markers/somachord.png" style="width:25px" alt="Somachord Fragment" CssClass="tooltips" data-toggle="tooltip" data-placement="top" title="Somachord Fragment"><br /><span>@Html.CheckBoxFor(a => a.Somachord)</span></center>
                        <div class="editor-field">
                            @Html.HiddenFor(a => a.Somachord)
                            @Html.ValidationMessageFor(a => a.Somachord)
                        </div>
                    </div>
                    <div class="col-4">
                        <center><img src="~/img/markers/framefighter.png" style="width:25px" alt="Frame Fighter Fragment" CssClass="tooltips" data-toggle="tooltip" data-placement="top" title="Frame Fighter Fragment"><br /><span>@Html.CheckBoxFor(a => a.Framefighter)</span></center>
                        <div class="editor-field">
                            @Html.HiddenFor(a => a.Framefighter)
                            @Html.ValidationMessageFor(a => a.Framefighter)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <b>Collectibles:</b>
                    </div>
                    <div class="col-4">
                        <center><img src="~/img/markers/ayatanstatue.png" style="width:25px" alt="Ayatan Statue" CssClass="tooltips" data-toggle="tooltip" data-placement="top" title="Ayatan Statue"><br /><span>@Html.CheckBoxFor(a => a.AyatanStatue)</span></center>
                        <div class="editor-field">
                            @Html.HiddenFor(a => a.AyatanStatue)
                            @Html.ValidationMessageFor(a => a.AyatanStatue)
                        </div>
                    </div>
                    <div class="col-4">
                        <center><img src="~/img/markers/syndicatemedallion.png" style="width:25px" alt="Syndicate Medallion" CssClass="tooltips" data-toggle="tooltip" data-placement="top" title="Syndicate Medallion"><br /><span>@Html.CheckBoxFor(a => a.SyndicateMedallion)</span></center>
                        <div class="editor-field">
                            @Html.HiddenFor(a => a.SyndicateMedallion)
                            @Html.ValidationMessageFor(a => a.SyndicateMedallion)
                        </div>
                    </div>
                    <div class="col-4">
                        <center><img src="~/img/markers/lootmarker.png" style="width:25px" alt="Rare Loot Chest" CssClass="tooltips" data-toggle="tooltip" data-placement="top" title="Rare Loot Chest"><br /><span>@Html.CheckBoxFor(a => a.RareLootChest)</span></center>
                        <div class="editor-field">
                            @Html.HiddenFor(a => a.RareLootChest)
                            @Html.ValidationMessageFor(a => a.RareLootChest)
                        </div>
                    </div>
                </div>

            </div>
        <div class="col-9">
            
                    <center><img src="@Url.Content(String.Format("~/{0}", Model.UploadedScreenshotImagePath))" alt="@Model.FileName"  class="rounded img-fluid"></center>


        </div>
    </div>
    <hr />
</div>




    
