@model WFTileCounter.Models.TileImage
@{
    ViewData["Title"] = "TileImage";
}

    <div class="editor-field">
        @Html.HiddenFor(x => x.TileName)
        @Html.ValidationMessageFor(x => x.TileName)
        @Html.HiddenFor(x => x.ImageName)
        @Html.ValidationMessageFor(x => x.ImageName)
    </div>
    <div class="col-md-6 mb-1 border-info border rounded">
        <div class="row">
            <div class="col-sm-12 mb-1 font-weight-bold justify-content-center">
                <label asp-for="ImageName"></label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 mb-1 justify-content-start">
                <label asp-for="ViewName"></label>
            </div>
            <div class="col-sm-9 mb-1 justify-content-center">
                <input type="text" asp-for="ViewName" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 mb-1 justify-content-start">
                <label asp-for="AltText"></label>
            </div>
            <div class="col-sm-9 mb-1 justify-content-center">
                <input type="text" asp-for="AltText" />
            </div>
        </div>

        <div class="row  d-flex justify-content-center">
            <div class="col-sm-12 mb-2  align-items-center text-center">
                <img src="@Url.Content(String.Format("~/img/tilesets/{0}", Model.ImagePath))" class="rounded img-fluid" />
            </div>
        </div>
    </div>
