@model WFTileCounter.Models.FrequencyModels.TileDataPointsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>
    @Model.TilesetName - Over @Model.TotalRuns Runs.
</h1>

<div class="table-responsive-sm">

    <table class="table table-hover table-dark ">
        <thead>
            <tr>
                <th scope="col">
                    Tile Name
                </th>

                @foreach (var missName in Model.TotalTilesPerMission)
                {
                    <th scope="row">
                        @missName.MissionName<br />
                    </th>
                }

            </tr>
        </thead>
        
        <tbody>
            <tr>
                <th scope="row"> <i style="font-size:.7em">Total runs of This Mission</i></th>
                @foreach (var missionTotal in Model.TotalRunsPerMissionList)
                {
                    <td>@missionTotal.TotalRunsForMiss</td>
                }
            </tr>

            <tr><td></td></tr>
            @foreach (var dataPoint in Model.DataPoints)
            {
                <tr>
                    <th scope="row">
                        @Html.DisplayFor(modelItem => dataPoint.TileName)
                    </th>

                    @foreach (var missionNumbers in dataPoint.MissionTileNumbers)
                    {
                        <td>@missionNumbers.Appearances</td>
                    }

                </tr>
            }
            <tr>
                <th scope="row">
                    <i style="font-size:.7em">Total Tiles in Mission Type</i>
                </th>
                @foreach (var missionTotalTiles in Model.TotalTilesPerMission)
                {
                    <td>@missionTotalTiles.TotalTilesForMission</td>
                }

            </tr>
        </tbody>
    </table>
</div>
