@model WFTileCounter.Models.FrequencyModels.TileDataPointsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>
    @Model.TilesetName - Over @Model.TotalRuns Runs.
</h1>

    <div class="container-fluid">

        <table class="table table-hover table-dark ">
            <thead>
                <tr>
                    <th scope="col">
                        Tile Name
                    </th>

                    @foreach (var missName in Model.TotalTilesPerMission)
                    {
                        <th scope="col" colspan="2">
                            @missName.MissionName<br />
                        </th>
                    }
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th scope="row"> <i style="font-size:.7em">Total runs of This Mission</i></th>
                    @foreach (var missionTotal in Model.TotalRunsPerMissionList)
                    {
                        <td colspan="2" class="text-center font-italic">@missionTotal.TotalRunsForMiss</td>
                    }
                    <th>
                    </th>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th scope="row"></th>
                    @foreach (var missName in Model.TotalTilesPerMission)
                    {
                        <th scope="col" class="text-center">
                            <i style="font-size:.7em">Total#</i>
                        </th>
                        <th scope="col" class="text-center">
                            <i style="font-size:.6em">%Chance</i>
                        </th>
                    }
                    <th><i style="font-size:.6em">%Overall</i></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var dataPoint in Model.DataPoints)
                {
                <tr>
                    <th scope="row">
                        @Html.ActionLink(dataPoint.TileName, "ViewTile", "Tile", new { tileset = Model.TilesetName, tilename = dataPoint.TileName })
                    </th>

                    @foreach (var missionNumbers in dataPoint.MissionTileNumbers)
                    {
                        if (missionNumbers.TotalAppearances != 0)
                        {
                            <td class="border-left border-secondary">@missionNumbers.TotalAppearances</td>
                            <td class="border-right border-secondary">%@missionNumbers.PercentLikelyhoodOfAppearance</td>
                        }
                        else
                        {
                            <td style="background-color:#1d2124;"></td>
                            <td style="background-color:#1d2124;"></td>

                        }
                    }
                    <th scope="row">
                        %@dataPoint.OverallPercentageToAppear
                    </th>
                </tr>
                }
                <tr>
                    <th scope="row">
                        <i style="font-size:.7em">Total Tiles Counted Per Mission</i>
                    </th>
                    @foreach (var missionTotalTiles in Model.TotalTilesPerMission)
                    {
                        <td colspan="2" class="text-center">@missionTotalTiles.TotalTilesForMission</td>
                    }

                </tr>
            </tbody>
        </table>
    </div>


