@model IEnumerable<WFTileCounter.ModelsLogic.InsertReadyData>
@{ int count = 0;}

@{
    ViewData["Title"] = "Maps Added";
}


@foreach (var map in Model)
{
    <hr />

    <div class="row">
        <div class="col-sm-2"><b>@Html.DisplayNameFor(a => map.User.Username)</b></div> <div class="col-sm-4">@Html.DisplayFor(a => map.User.Username)</div>
        <div class="col-sm-2"><b>@Html.DisplayNameFor(a => map.Run.RunDate)</b></div> <div class="col-sm-4">@Html.DisplayFor(a => map.Run.RunDate)</div>
    </div>
    <div class="row">
        <div class="col-sm-2"><b>@Html.DisplayNameFor(a => map.Tileset.Name)</b></div> <div class="col-sm-2">@Html.DisplayFor(a => map.Tileset.Name)</div>
        <div class="col-sm-2"><b>@Html.DisplayNameFor(a => map.Tileset.Faction)</b></div> <div class="col-sm-1">@Html.DisplayFor(a => map.Tileset.Faction)</div>
        <div class="col-sm-2"><b>@Html.DisplayNameFor(a => map.Mission.Type)</b></div> <div class="col-sm-3">@Html.DisplayFor(a => map.Mission.Type)</div>
    </div>
    <div class="row">
        <div class="col-sm-2"><b>@Html.DisplayNameFor(a => map.Run.TotalTiles)</b></div> <div class="col-sm-2">@Html.DisplayFor(a => map.Run.TotalTiles)</div>
        <div class="col-sm-2"><b>@Html.DisplayNameFor(a => map.Run.UniqueTiles)</b></div> <div class="col-sm-1">@Html.DisplayFor(a => map.Run.UniqueTiles)</div>
        <div class="col-sm-2"><b>@Html.DisplayNameFor(a => map.Run.LogRange)</b></div> <div class="col-sm-3">@Html.DisplayFor(a => map.Run.LogRange)</div>
    </div>
    <div class="row">
        <div class="col-sm-4"><b>@Html.DisplayNameFor(a => map.Run.IdentityString)</b></div><div class="col-sm-8">@Html.DisplayFor(a => map.Run.IdentityString)</div>
    </div>
    <div class="row">
        <div class="col-sm-10"><b>Unique Tiles Processed</b> - <i> of which @ViewBag.newTiles[count] were added to the database.</i></div>
    </div>
    <div class="row">
        @foreach (var tile in map.Tiles)
        {
            <div class="col-sm-2">@Html.DisplayFor(a => tile.Name)</div>
        }
    </div>
    count++;


}
 <hr />

