@model IEnumerable<WFTileCounter.ModelsView.MetaProcessed>

@{
    ViewData["Title"] = "Processing Files";
}

<h1>Files to be Processed</h1>

<div>
    <p>Review the data below. If you find something wrong or weird, exclude it from the upload.</p>

    @Html.ActionLink("Upload All files to Database", "DatabaseLink", "Process")


    <hr />

    @foreach (var file in Model)
    {

        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(a => file.FileName)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(a => file.FileName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(a => file.Date)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(a => file.Date)
            </dd>

        </dl>
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(a => file.TileName)
            </dt>
            <dd class="col-sm-3">
                @Html.DisplayFor(a => file.TileName)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(a => file.MissionType)
            </dt>
            <dd class="col-sm-3">
                @Html.DisplayFor(a => file.MissionType)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(a => file.FactionName)
            </dt>
            <dd class="col-sm-3">
                @Html.DisplayFor(a => file.FactionName)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(a => file.Tileset)
            </dt>
            <dd class="col-sm-3">
                @Html.DisplayFor(a => file.Tileset)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(a => file.Coords)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(a => file.Coords)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(a => file.LogNum)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(a => file.LogNum)
            </dd>
        </dl>

        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(a => file.MapIdentifier)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(a => file.MapIdentifier)
            </dd>
        </dl>




        <hr />

    }

</div>

