@model IEnumerable<WFTileCounter.ModelsLogic.InsertReadyData>
@{ int count = 0;}

@{
    ViewData["Title"] = "Successfully Added";
}

<h1>Your information was successfully processed and added to the database.</h1>
<p>Thank you for your contribution. See what all was added below. </p>

@foreach (var map in Model)
{
    <hr />
    <div class="row">

        <div class="col-md-3 border border-success">
            <div class="row">
                <div class="col-sm-6 font-weight-bold">
                    @Html.DisplayNameFor(x => map.User.Username)
                </div>
                <div class="col-sm-6 font-italic text-md-right">
                    @Html.DisplayFor(x => map.User.Username) (# @Html.DisplayFor(x => map.User.Id))
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 font-weight-bold">
                    @Html.DisplayNameFor(x => map.Run.RunDate)
                </div>
                <div class="col-sm-6 font-italic text-md-right">
                    @Html.DisplayFor(x => map.Run.RunDate)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 font-weight-bold">
                    @Html.DisplayNameFor(x => map.Mission.Type)
                </div>
                <div class="col-sm-6 font-italic text-md-right">
                    @Html.DisplayFor(x => map.Mission.Type)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 font-weight-bold">
                    @Html.DisplayNameFor(x => map.Tileset.Name)
                </div>
                <div class="col-sm-6 font-italic text-md-right">
                    @Html.DisplayFor(x => map.Tileset.Name)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 font-weight-bold text-nowrap">
                    @Html.DisplayNameFor(x => map.Run.TotalTiles)
                </div>
                <div class="col-sm-6 font-italic text-md-right">
                    @Html.DisplayFor(x => map.Run.TotalTiles)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 font-weight-bold">
                    @Html.DisplayNameFor(x => map.Run.UniqueTiles)
                </div>
                <div class="col-sm-6 font-italic text-md-right">
                    @Html.DisplayFor(x => map.Run.UniqueTiles)
                </div>
            </div>

        </div>
        <div class="col-md-9 border border-light">
            <div class="row">
                <div class="col-sm-12"><b>@Html.DisplayNameFor(a => map.Run.IdentityString)</b></div><div class="col-sm-8">@Html.DisplayFor(a => map.Run.IdentityString)</div>
                <hr />
            </div>
            <div class="row">
                <div class="col-sm-12"><p><b>Unique Tiles Processed</b> - <i> of which @ViewBag.newTiles[count] were new and added to the database.</i></p>
                @if(map.Run.FullRun)
                {
                    <p>This was a Full Run.</p>
                }else
                {
                    <p>This was a Partial Run</p>
                }

                </div>
            </div>
            <div class="row">
                @foreach (var tile in map.Tiles)
                {
                    if (tile.NewTile)
                    {
                        <div class="col-sm-3 text-truncate font-weight-bold">@Html.DisplayFor(a => tile.Name)</div>
                    }
                    else
                    {
                        <div class="col-sm-3 text-truncate text-muted">@Html.DisplayFor(a => tile.Name)</div>
                    }

                }
            </div>
        </div>
    </div>
    count++;
}
